<%= form_with(model: manage_post, local: true) do |form| %>
  <% if manage_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manage_post.errors.count, "error") %> prohibited this manage_post from being saved:</h2>

      <ul>
      <% manage_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
